*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
  scrollbar-width: thin;
  font-family: sans-serif;
}
body{
  font-family: sans-serif;
}
:root{
  --green:rgb(71, 243, 71);
  --grey:rgb(223, 218, 218);
}